<%- include('partials/header', { title: 'Projects' }) %>

<h1>Service Projects</h1>

<ul>
  <% projects.forEach(project => { %>
    <li>
    <%= new Date(project.project_date).toDateString() %>
      <%= project.title %>
      (<%= project.organization_name %>)
    </li>
  <% }) %>
</ul>

<%- include('partials/footer') %>