<%- include('partials/header', { title: title }) %>

<h1>
  Upcoming Service Projects
</h1>

<% if (
  user &&
  user.role_name === 'admin'
) { %>

  <p>

    <a href="/new-project">
      Add New Service Project
    </a>

  </p>

<% } %>

<ul>

  <% projects.forEach(project => { %>

    <li>

      <strong>
        <a href="/project/<%= project.project_id %>">
          <%= project.title %>
        </a>
      </strong>

      <br>

      <%= new Date(
        project.project_date
      ).toDateString() %>

      <br>

      Organization:

      <a href="/organization/<%= project.organization_id %>">
        <%= project.organization_name %>
      </a>

      <br><br>

    </li>

  <% }) %>

</ul>

<%- include('partials/footer') %>